@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$black: #232326;
$red: #D40000;
$grey: #F3F2F0;
$white: #FFFFFF;

$font-inter: 'Inter', sans-serif;


$r_minmob:320px;
$r_mob_360: 360px;
$r_mob_400: 400px;
$r_mob_500: 500px;
$r_mob_700: 700px;
$r_tab: 768px;
$r_tab_900: 900px;
$r_desk: 1000px;
$r_desk_1150: 1150px;
$r_desk_hd: 1200px;
$r_desk_1280: 1280px;
$r_desk_1350: 1350px;
$r_desk_1500: 1500px;
$r_desk_1750: 1750px;


html {
	font-size: 10px;
}

body {
	background-color: $black;
	font-size: 1.6rem;
	font-family: $font-inter;
	background-size: contain;
	background-repeat: no-repeat;
	overflow-x: hidden;
	margin: 0;
}
.fixed {
	position: fixed;
	background-color: $black;
	width: 100%;
	height: 8rem;
	top: 0;
	z-index: 10;
	@media (max-width: $r_mob_700) {
		position: relative;
	}
}
.header, .footer {
	display: flex;
	max-width: 1167px;
	margin: 0 auto;
	padding-top: 2rem;
	box-sizing: border-box;
	align-items: center;
	justify-content: space-between;
	color: $grey;
	font-size: 1.4rem;
	text-decoration: none;
	@media (max-width: $r_tab_900) {
			font-size: 1.2rem;
		}
	@media (max-width: $r_mob_700) {
			justify-content: left;
			margin-left: 1.5rem;
			margin-top: 1rem;
			padding-top: 3rem;
	}
	&__navigation {
	text-decoration: none;
	margin-left: -4rem;
}
&__nav {
	display: flex;
	list-style-type: none;
	gap: 2.8rem;
	@media (max-width: $r_tab_900) {
		gap: 1.5rem;
	}
}
&__link {
	color: $grey;
	text-decoration: none;
	transition: .5s;
	&:hover {
		color: $red;
	}
	@media (max-width: $r_mob_700) {
		cursor: default;
		&:hover {
			color: $grey;
		}
		&:active {
			color: $red;
			}
		}
	}
	&_contacts {
		position: relative;
		&::before {
			content: '';
			background-color: $grey;
			width: 1px;
			height: 24px;
			margin-top: -4px;
			position: absolute;
			left: 13.5rem;
			opacity: 0.5;
			@media (max-width: $r_tab_900) {
				left: 11.7rem;
			}
			@media (max-width: $r_mob_700) {
				left: 13.5rem;
			}
			@media (max-width: $r_mob_400) {
				left: 11.7rem;
			}
		}
	}
	&__tel, &__mail {
		color: $grey;
		text-decoration: none;
		transition: 0.5s;
		&:hover {
			color: $red;
		}
		@media (max-width: $r_mob_700) {
			font-size: 1.4rem;
			cursor: default;
			&:hover {
				color: $grey;
			}
			&:active {
				color: $red;
			}
		}
		@media (max-width: $r_mob_400) {
			font-size: 1.2rem;
		}
	}
	&__mail {
		margin: 0 0 0 26px;
	}
}
.header {
	margin-top: 0;
	padding-left: 15px;
	padding-right: 15px;
&__nav {
		@media (max-width: $r_mob_700) {
			display: none;
		}
	}
	&__mail {
		@media (max-width: $r_mob_500) {
			display: none;
		}
	}
	&_contacts {
		position: relative;
		margin: 0 0 0 26px;
		&::before {
			content: '';
			background-color: $grey;
			width: 1px;
			height: 24px;
			margin-top: -4px;
			position: absolute;
			left: 13.4rem;
			opacity: 0.5;
			@media (max-width: $r_tab_900) {
				left: 11.7rem;
			}
			@media (max-width: $r_mob_700) {
				left: 13.5rem;
			}
			@media (max-width: $r_mob_500) {
				display: none;
			}
			@media (max-width: $r_mob_400) {
				left: 11.7rem;
			}
		}
	}
}
.burger {
	display: none;
	background-color: transparent;
	width: 2.6rem;
	height: 2rem;
	position: absolute;
	right: 15px;
	&:active {
		background-color: $red;
	}
	@media (max-width: $r_mob_700) {
		display: block;
	}
}
.container {
	max-width: 1167px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.main {
	margin-top: 11rem;
	position: relative;
	@media (max-width: $r_mob_700) {
	margin-top: 0;
	}
	&__foto {
		background-image: url(../images/foto.png);
		background-repeat: no-repeat;
		width: 100%;
		background-position: center;
		height: 30rem;
		margin: 0;
		@media (max-width: $r_mob_500) {
			background-image: url(../images/foto1.png);
			background-size: 100%;
			max-height: 22rem;
			background-position-y: 0;
			margin-top: 1rem;
		}
	}
	&__triangle {
		background-image: url(../images/triangle.svg);
		background-repeat: no-repeat;
		position: absolute;
		width: 100%;
		height: 94px;
		left: -15rem;
		top: -26rem;
		@media (max-width: $r_desk_1500) {
			left: 0rem;
			top: -7rem;
			}
		@media (max-width: $r_desk_hd) {
			left: -1rem;
			height: 65px;
		}
		@media (max-width: $r_mob_700) {
			height: 34px;
		}
		@media (max-width: $r_mob_400) {
			top: -6rem;
			left: -2rem;
		}
	}
	&__name {
		color: $grey;
		font-size: 2.8rem;
		font-weight: 400;
		line-height: 150%;
		margin-top: 13rem;
		position: relative;
		&::before {
			content: '';
			background-color: $red;
			width: 253px;
			height: 253px;
			border-radius: 100%;
			position: absolute;
			top: -5rem;
			left: -12.5rem;
			z-index: -1;
			@media (max-width: $r_desk_1280) {
				left: -11rem;
			}
			@media (max-width: $r_desk_hd) {
				width: 190px;
				height: 190px;
				top: -4rem;
				left: -9rem;
			}
			@media (max-width: $r_mob_700) {
				width: 135px;
				height: 135px;
				top: -3rem;
				left: -4.5rem;
			}
		}
		@media (max-width: $r_desk_hd) {
			font-size: 2.4rem;
		}
		@media (max-width: $r_mob_700) {
			font-size: 1.8rem;
			margin-top: 5.5rem;
		}
	}
	&__title {
		color: $grey;
		font-size: 7.4rem;
		font-weight: 700;
		letter-spacing: 2.22px;
		text-transform: uppercase;
		margin-top: 3.3rem;
		@media (max-width: $r_desk_hd) {
			font-size: 5.4rem;
			margin-top: 2rem;
		}
		@media (max-width: $r_tab_900) {
			font-size: 3.8rem;
		}
		@media (max-width: $r_mob_500) {
			font-size: 2.8rem;
		}
		@media (max-width: $r_mob_400) {
			font-size: 2.6rem;
		}
		@media (max-width: $r_mob_360) {
			font-size: 2.2rem;
		}
	}
	&__item {
		display: flex;
		margin-top: 8.2rem;
		align-items: center;
		justify-content: space-between;
		position: relative;
		border-bottom: 1px solid $grey;
		padding-bottom: 4.8rem;
		@media (max-width: $r_mob_400) {
			margin-top: 7.9rem;
			padding-bottom: 2.3rem;
		}
		&::before {
			content: '';
			background-color: $red;
			width: 106px;
			height: 106px;
			border-radius: 100%;
			position: absolute;
			top: -2rem;
			right: 3.3rem;
			z-index: -1;
			@media (max-width: $r_mob_700) {
				width: 80px;
				height: 80px;
				top: -0.5rem;
				right: 3.5rem;
			}
			@media (max-width: $r_mob_500) {
				width: 60px;
				height: 60px;
				top: 0;
				right: 2.5rem;
			}
			@media (max-width: $r_mob_360) {
				top: -0.6rem;
				right: 1.5rem;
			}
		}
		&_social{
			display: flex;
			color: $grey;
			align-items: center;
			position: relative;
			text-decoration: none;
			list-style-type: none;
			gap: 5.4rem;
			transition: 0.5s;
			@media (max-width: $r_mob_700) {
				gap: 2.6rem;
			}
			@media (max-width: $r_mob_500) {
				padding-left: 0;
				font-size: 1.2rem;
				gap: 1.8rem;
			}
			@media (max-width: $r_mob_360) {
				font-size: 1rem;
				gap: 1.4rem;
			}
		}
	}
	&__talkproject {
		background-color: $black;
		display: flex;
		margin-top: 3.3rem;
		padding-bottom: 2rem;
		padding-left: 0;
		align-items: center;
		position: relative;
		height: 2.4rem;
		border: none;
		border-bottom: 1px solid transparent;
		transition: .5s;
		cursor: pointer;
		@media (max-width: $r_mob_500) {
			padding-bottom: 2.2rem;
		}
		&_text {
			color: $grey;
			font-weight: 700;
			line-height: 150%;
			@media (max-width: $r_mob_700) {
				font-weight: 600;
				font-size: 1.4rem;
			}
			@media (max-width: $r_mob_500) {
				font-size: 1.2rem;
			}
			@media (max-width: $r_mob_360) {
				font-size: 1rem;
			}
		}
		&_arrow {
			margin-left: 15px;
			width: 15px;
		}
		&:hover {
			border-bottom: 1px solid $grey;
		}
	}	
	&__skill {
		display: grid;
		gap: 1.5rem;
		grid-template-columns: repeat(4, 1fr);
		justify-content: space-between;
		margin-top: 3.8rem;
		@media (max-width: $r_desk_1150) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width: $r_tab_900) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: $r_mob_400) {
			margin-top: 2.4rem;
			row-gap: 0;
		}
	}
}
.socialmain{
	position: relative;
	list-style-type: none;
	&::before {
		content: '';
		background-color: $grey;
		margin-top: -2px;
		width: 1px;
		height: 24px;
		position: absolute;
		left: -2.6rem;
		opacity: 0.5;
		cursor: auto;
		pointer-events: none;
		@media (max-width: $r_mob_700) {
			left: -1.5rem;
		}
		@media (max-width: $r_mob_500) {
			left: -1rem;
		}
	}
		&-VK {
		transition: 0.5s;
		margin-top: 1rem;
		&:hover {
			color: $red;
		}
	}
	&-Instagram {
		transition: 0.5s;
		margin-top: 1rem;
		&:hover {
			color: $red;
		}
	}
	&-Linkedin {
		transition: 0.5s;
		margin-top: 1rem;
		&:hover {
			color: $red;
		}
	}
}
.front, .back, .wp, .seo {
	display: block;
	color: $grey;
	&-title {
		text-transform: uppercase;
		font-weight: 700;
		line-height: 150%;
		letter-spacing: 0.48px;
		@media (max-width: $r_mob_700) {
			font-size: 1.6rem;
	}
	@media (max-width: $r_mob_500) {
		font-size: 1.4rem;
}
@media (max-width: $r_mob_400) {
	font-size: 1.3rem;
}
@media (max-width: $r_mob_360) {
	font-size: 1.1rem;
}
	}
	&-text {
		margin-top: 1rem;
		line-height: 150%;
		opacity: 0.8;
		@media (max-width: $r_mob_700) {
			font-size: 1.4rem;
		}
		@media (max-width: $r_mob_500) {
			font-size: 1.3rem;
		}
		@media (max-width: $r_mob_400) {
			font-size: 1.1rem;
		}
		@media (max-width: $r_mob_360) {
			font-size: 1rem;
		}
	}
}
.about {
	padding-top: 13rem;
	transition: 0.5s;
	@media (max-width: $r_mob_700) {
		padding-top: 10rem;
	}
	@media (max-width: $r_mob_400) {
		padding-top: 3rem;
	}
}
.aboutme {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding-bottom: 2.8rem;
	border-bottom: 1px solid $grey;
	@media (max-width: $r_mob_700) {
		display: block;
	}	
	&_title {
		color: $grey;
		min-width: 20rem;
		font-size: 28px;
		font-weight: 700;
		line-height: 150%;
		letter-spacing: 0.84px;
		text-transform: uppercase;
		@media (max-width: $r_tab_900) {
			font-size: 2.4rem;
		}
		@media (max-width: $r_mob_400) {
			font-size: 1.6rem;
		}
	}
	&_text {
		color: $grey;
		font-size: 2.8rem;
		font-weight: 400;
		line-height: 150%;
		opacity: 0.8;
		width: 55.5rem;
		@media (max-width: $r_tab_900) {
			font-size: 2.2rem;
		}
		@media (max-width: $r_mob_500) {
			font-size: 2rem;
		}
		@media (max-width: $r_mob_400) {
			font-size: 1.6rem;
		}
		@media (max-width: $r_mob_360) {
			font-size: 1.3rem;
		}
	}
}
.characteristic {
	display: flex;
	margin-top: 4rem;
	@media (max-width: $r_mob_400) {
		margin-top: 2rem;
	}
	&_empty {
		width: 58.5rem;
		@media (max-width: $r_tab_900) {
			width: 50rem;
		}
		@media (max-width: $r_mob_700) {
			display: none;
		}		
	}
	&_content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		max-width: 57rem;
		row-gap: 3.7rem;
		column-gap: 3rem;
		@media (max-width: $r_mob_400) {
			gap: 1rem;
		}
		&_title{
			color: $grey;
			font-size: 1.6rem;
			font-weight: 700;
			line-height: 150%;
			@media (max-width: $r_mob_400) {
				font-size: 1.4rem;
			}
		}
		&_text {
			color: $grey;
			font-size: 1.4rem;
			font-weight: 400;
			line-height: 150%;
			opacity: 0.8;
			@media (max-width: $r_mob_400) {
				font-size: 1rem;
			}
		}
	}
}
.step {
	padding-top: 15rem;
	@media (max-width: $r_tab) {
		padding-top: 8rem;
}
@media (max-width: $r_mob_500) {
	padding-top: 3rem;
}
	&__item {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-content: space-between;
		list-style-type: none;
		align-items: center;
		padding: 0.4rem 0;
		border-top: 1px solid $grey;
		&:last-child{
			border-bottom: 1px solid $grey;
		}
		margin-left: -4rem;
		 &-textdesk {
			color: $grey;
			font-size: 2.8rem;
			font-weight: 400;
			line-height: 150%;
			@media (max-width: $r_desk) {
				font-size: 2.2rem;
			}
			@media (max-width: $r_tab) {
				display: none;
			}
		}
		&-textmob {
			display: none;
			color: $grey;
			font-size: 2.2rem;
			font-weight: 400;
			line-height: 150%;
			@media (max-width: $r_tab) {
				display: block;
				margin-right: 1rem;
				font-size: 1.8rem;
			}
			@media (max-width: $r_mob_500) {
				font-size: 1.6rem;
			}
			@media (max-width: $r_mob_400) {
				max-width: 50%;
				font-size: 1.3rem;
			}
			@media (max-width: $r_mob_360) {
				font-size: 1.2rem;
			}
		}
		&-description {
			color: $grey;
			font-weight: 400;
			line-height: 150%;
			opacity: 0.8;
			@media (max-width: $r_tab) {
				font-size: 1.4rem;
			}
			@media (max-width: $r_mob_400) {
				font-size: 1.2rem;
			}
		}
	}
}
.portfolio {
	display: block;
	position: relative;
	&__title{
		color: $grey;
		text-transform: uppercase;
		font-size: 74px;
		font-weight: 700;
		padding-top: 12rem;
		margin-bottom: 14rem;
		position: relative;
		z-index: 2;
		@media (max-width: $r_tab_900) {
			font-size: 56px;
			margin-bottom: 10rem;
		}
		@media (max-width: $r_mob_700) {
			font-size: 42px;
		}
		@media (max-width: $r_mob_500) {
			font-size: 34px;
			margin-top: -7.5rem;
			margin-bottom: 8rem;
		}
		@media (max-width: $r_mob_400) {
			font-size: 28px;
		}
		@media (max-width: $r_mob_360) {
			font-size: 26px;
		}
		&::before {
			content: '';
			background-color: $red;
			width: 465px;
			height: 465px;
			border-radius: 100%;
			position: absolute;
			top: 3rem;
			left: 35rem;
			z-index: -1;
			@media (max-width: $r_desk_hd) {
				left: 34rem;
			}
			@media (max-width: $r_tab_900) {
				width: 36.5rem;
				height: 36.5rem;
				left: 27rem;
			}
			@media (max-width: $r_mob_700) {
				width: 26rem;
				height: 26rem;
				left: 19.5rem;
				top: 6rem;
			}
			@media (max-width: $r_mob_500) {
				width: 20rem;
				height: 20rem;
				left: 14rem;
				top: 6.3rem;
			}
			@media (max-width: $r_mob_400) {
				width: 19rem;
				height: 19rem;
				left: 14rem;
			}
			@media (max-width: $r_mob_360) {
				left: 9rem;
			}
		}
	}	
	&__donework {
		display: block;
		justify-content: space-between;
		background-repeat: no-repeat;
	}
}
.bg {
	background-color: #141416;
	background-repeat: no-repeat;
	position: relative;
	max-width: 100%;

}
.portfolio__donework {
	display: flex;
	padding-top: 8rem;
	border-bottom: 1px solid $grey;
	padding-bottom: 4rem;
	column-gap: 1rem;
	@media (max-width: $r_mob_700) {
		display: block;
		padding-top: 2rem;
		padding-bottom: 6rem;
	}
	@media (max-width: $r_mob_500) {
		padding-bottom: 4rem;
	}
	&_box {
		width: 50rem;
		z-index: 2;
	}
	&_title {
		color: $grey;
		font-size: 2.8rem;
		font-weight: 700;
		padding-bottom: 1.5rem;
		@media (max-width: $r_tab_900) {
			font-size: 2.4rem;
			padding-bottom: 1rem;
		}
		@media (max-width: $r_mob_700) {
			font-size: 2.7rem;
		}
		@media (max-width: $r_mob_500) {
			font-size: 2.1rem;
		}
		@media (max-width: $r_mob_400) {
			font-size: 1.6rem;
			padding-bottom: 0;
		}
	}
	&_list {
		color: $grey;
		list-style-type: none;
		font-weight: 400;
		line-height: 220%;
		margin-left: -4rem;
		margin-bottom: 3.5rem;
		opacity: 0.8;
		@media (max-width: $r_tab_900) {
			font-size: 1.4rem;
			margin-bottom: 2.3rem;
		}
		@media (max-width: $r_mob_700) {
			font-size: 1.6rem;
		}
		@media (max-width: $r_mob_400) {
			font-size: 1.2rem;
		}
	}
	&_time {
		color: $grey;
		font-weight: 700;
		opacity: 0.8;
		@media (max-width: $r_mob_700) {
			font-size: 1.6rem;
		}
		@media (max-width: $r_mob_400) {
			font-size: 1.2rem;
		}
	}
	&__img {
		background-repeat: no-repeat;
		background-position: right;
		max-width: 55rem;
		padding-bottom: 3rem;
		cursor: pointer;
		z-index: 2;
		@media (max-width: $r_desk) {
			max-width: 50rem;
		}
		@media (max-width: $r_tab_900) {
			max-width: 60%;
	}
	@media (max-width: $r_mob_700) {
		background-position: center;
		max-width: 50%;
		top: 3rem;
		}
	}
}
.gym {
&__img {
	width: 100%;
	@media (max-width: $r_mob_700) {
		margin-top: 3rem;
		}
	}
}
.shop {
&__img {
	width: 100%;
		@media (max-width: $r_mob_700) {
			margin-top: 3rem;
			}
	}
}
.additionally {
	margin-top: 18rem;
	border-bottom: 1px solid $grey;
	padding-bottom: 5.1rem;
	@media (max-width: $r_mob_500) {
		margin-top: 6.8rem;
		padding-bottom: 2rem;
	}
	&_text {
		color: $grey;
		font-size: 2.8rem;
		font-weight: 400;
		line-height: 150%;
		max-width: 87rem;
		@media (max-width: $r_tab) {
			font-size: 2.4rem;
		}
		@media (max-width: $r_mob_500) {
			font-size: 2.2rem;
		}
		@media (max-width: $r_mob_400) {
			font-size: 1.6rem;
		}
	}
}
.benefit {
	margin-top: 6.5rem;
	@media (max-width: $r_mob_500) {
		margin-top: 2.3rem;
	}
	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		row-gap: 3.7rem;
		column-gap: 2rem;
		@media (max-width: $r_tab_900) {
			grid-template-columns: repeat(2, 1fr);
	}
		@media (max-width: $r_mob_500) {
		grid-template-columns: repeat(1, 1fr);
		row-gap: 0.5rem;
	}
		&_block {
			display: block;
			padding-left: 8rem;
			max-width: 28rem;
			@media (max-width: $r_desk) {
				padding-left: 6rem;
			}
			}
		&-title {
			color: $grey;
			font-weight: 600;
			@media (max-width: $r_mob_700) {
				font-size: 1.4rem;
				margin-bottom: 1rem;
			}
		}
		&-text {
			color: $grey;
			font-size: 1.4rem;
			font-weight: 400;
			line-height: 150%;
			opacity: 0.8;
			margin-top: 0rem;
			@media (max-width: $r_mob_700) {
				font-size: 1.3rem;
			}
		}
		&-prices {
			background-image: url(../images/money.svg);
			background-repeat: no-repeat;
			background-size: 4rem 4rem;
			background-position: left center;
		}
		&-experience {
			background-image: url(../images/experience.svg);
			background-repeat: no-repeat;
			background-size: 4rem 4rem;
			background-position: left center;
		}
		&-terms {
			background-image: url(../images/clock.svg);
			background-repeat: no-repeat;
			background-size: 4rem 4rem;
			background-position: left center;
		}
		&-connection {
			background-image: url(../images/telephone.svg);
			background-repeat: no-repeat;
			background-size: 4rem 4rem;
			background-position: left center;
		}
		&-code {
			background-image: url(../images/code.svg);
			background-repeat: no-repeat;
			background-size: 4rem 4rem;
			background-position: left center;
		}
		&-support {
			background-image: url(../images/list.svg);
			background-repeat: no-repeat;
			background-size: 4rem 4rem;
			background-position: left center;
		}
	}
}
.technologies {
	margin-top: 16rem;
	@media (max-width: $r_tab) {
		margin-top: 5rem;
}
	&__grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		margin-top: -1px;
		margin-right: -1px;
		margin-left: -1px;
	}
	&__item {
		position: relative;
		display: block;
		&-text {
			visibility: hidden;
			background-image: url(../images/bgtooltip.png);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 26rem auto;
			width: 70%;
			position: absolute;
			color: rgba(243, 242, 240, 0.8);
			text-align: center;
			font-size: 11px;
			font-weight: 500;
			line-height: 150%;
			padding: 18% 10% 15%;
			top: 73%;
			left: 5%;
			transition: 0.5s;
			z-index: 5;
			@media (max-width: $r_desk) {
				font-size: 9px;
				top: 80%;
			
			}
			@media (max-width: $r_mob_700) {
				background-size: 20rem auto;
				box-sizing: border-box;
				padding: 18% 5% 10%;
				width: 120%;
				left: -1.5rem;
			}
			@media (max-width: $r_mob_500) {
				left: -2rem;
				min-width: 150%;
			}
			@media (max-width: $r_mob_400) {
				min-width: 200%;
				left: -4rem;
				top: 100%;
			}
			@media (max-width: $r_mob_360) {
				background-size: auto;
				top: 90%;
			}
		}
		&:first-child &-text {
			@media (max-width: $r_mob_700) {
				left: 0.1rem;
			}
		}
		&:nth-child(5) &-text {
			@media (max-width: $r_mob_700) {
				left: 0.1rem;
			}
		}
		&:last-child &-text {
			@media (max-width: $r_mob_700) {
				background-position: left;
				left: -3rem;
			}
			@media (max-width: $r_mob_500) {
				left: -5.5rem;
			}
			@media (max-width: $r_mob_400) {
				left: -7rem;
			}
		}

		&:nth-child(4) &-text {
			@media (max-width: $r_mob_700) {
				background-position: left;
				left: -3rem;
			}
			@media (max-width: $r_mob_500) {
				left: -5.5rem;
			}
			@media (max-width: $r_mob_400) {
				left: -7rem;
			}
		}
		
		&:hover &-text {
			visibility: visible;
		}
	}
	&__img{
		min-height: 100%;
		margin-top: -1px;
		margin-right: -1px;
		margin-left: -1px;
		text-align: center;
		border: 1px solid rgba(243, 242, 240, 0.5);
		filter: grayscale(1);
		cursor: pointer;
		transition: .5s;
		&:hover {
			filter: grayscale(0);
			border: 1px solid rgba(243, 242, 240, 1);
		}
	}
	&__html {
		width: 30%;
		height: 30%;
		padding-top: 10%;
		padding-bottom: 10%;
	}
	&__css {
		width: 30%;
		height: 30%;
		padding-top: 10%;
		padding-bottom: 10%;
	}
	&__JS {
		width: 30%;
		height: 30%;
		padding-top: 10%;
		padding-bottom: 10%;
	}
	&__jquery {
		width: 30%;
		height: 30%;
		padding-top: 10%;
		padding-bottom: 10%;
	}
	&__bootstrap {
		width: 30%;
		height: 30%;
		padding-top: 10%;
		padding-bottom: 10%;
	}
	&__php {
		width: 30%;
		height: 30%;
		padding-top: 17%;
		padding-bottom: 17%;
	}
	&__Vue {
		width: 30%;
		height: 30%;
		padding-top: 10%;
		padding-bottom: 10%;
	}
	&__Wordpress {
		width: 30%;
		height: 30%;
		padding-top: 10%;
		padding-bottom: 10%;
	}
}
.rates {
	padding-top: 13rem;
	@media (max-width: $r_mob_700) {
		padding-top: 10.1rem;
	}
	@media (max-width: $r_mob_400) {
		padding-top: 5rem;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		position: relative;
		padding-bottom: 5rem;
		border-bottom: 1px solid $grey;
		z-index: 1;
		@media (max-width: $r_mob_700) {
			display: block;
			padding-bottom: 2.5rem;
		}
		&-title{
			color: $grey;
			min-width: 53rem;
			font-size: 2.8rem;
			font-weight: 700;
			line-height: 150%;
			letter-spacing: 0.84px;
			text-transform: uppercase;
			@media (max-width: $r_desk_hd) {
				min-width: 30%;
			}
			@media (max-width: $r_mob_500) {
				font-size: 1.6rem;
				padding-bottom: 1rem;
			}
		}
		&-description {
			color: $grey;
			font-size: 2.8rem;
			font-weight: 400;
			line-height: 150%;
			opacity: 0.8;
			@media (max-width: $r_tab_900) {
				font-size: 2.2rem;
			}
			@media (max-width: $r_mob_500) {
				font-size: 1.8rem;
			}
			@media (max-width: $r_mob_400) {
				font-size: 1.4rem;
			}
		}
		&::before {
			content: '';
			background-color: $red;
			width: 140px;
			height: 140px;
			border-radius: 100%;
			position: absolute;
			top: -2.7rem;
			left: -7rem;
			z-index: -1;
			@media (max-width: $r_mob_400) {
				top: -7rem;
				left: -9rem;
			}
		}
	}
	&__landing, &__corporateweb {
		display: flex;
		column-gap: 12.8rem;
		margin-top: 3rem;
		margin-bottom: 4.2rem;
		border-bottom: 1px solid $grey;
		@media (max-width: $r_desk) {
			column-gap: 10rem;
		}
			@media (max-width: $r_tab) {
			column-gap: 6rem;
		}
		@media (max-width: $r_mob_700) {
			column-gap: 2rem;
		}
	}
	&__webshop {
		display: flex;
		column-gap: 12.8rem;
		margin-top: 2rem;
			@media (max-width: $r_desk) {
			column-gap: 10rem;
		}
		@media (max-width: $r_tab) {
			column-gap: 6rem;
		}
		@media (max-width: $r_mob_700) {
			border-bottom: 1px solid $grey;
			column-gap: 2rem;
		}
	}
	&__leftitem {
		min-width: 40%;
		@media (max-width: $r_desk) {
			max-width: 40%;
		}
		&-title {
			color: $grey;
			font-size: 2.8rem;
			font-weight: 400;
			line-height: 150%;
			margin-bottom: 0;
			margin-top: 3rem;
			@media (max-width: $r_desk) {
				font-size: 2.4rem;
			}
			@media (max-width: $r_mob_700) {
				font-size: 1.8rem;
			}
			@media (max-width: $r_mob_400) {
				font-size: 1.4rem;
			}
		}
		&-text {
			color: $grey;
			font-weight: 500;
			line-height: 150%;
			opacity: 0.8;
			margin:2rem 0 8rem 0;
			@media (max-width: $r_tab) {
				font-size: 1.4rem;
			}
			@media (max-width: $r_mob_700) {
				margin:2rem 0 4rem 0;
			}
			@media (max-width: $r_mob_500) {
				font-size: 1.2rem;
			}
			@media (max-width: $r_mob_400) {
				font-size: 1rem;
				margin:2rem 0 2rem 0;
			}
		}
	}
	&__talkproject {
		background-color: #141416;
		display: flex;
		margin: 3.5rem 0 0 -0.5rem;
		padding-bottom: 2rem;
		padding-left: 0;
		align-items: center;
		position: relative;
		height: 2.4rem;
		border: none;
		border-bottom: 1px solid transparent;
		transition: .5s;
		cursor: pointer;
		&:hover {
			border-bottom: 1px solid $grey;
		}
		&_text {
			color: $grey;
			font-weight: 700;
			line-height: 150%;
			@media (max-width: $r_mob_700) {
				font-size: 1.4rem;
			}
			@media (max-width: $r_mob_500) {
				font-size: 1.2rem;
			}
			@media (max-width: $r_mob_400) {
				font-size: 1rem;
			}
			@media (max-width: $r_mob_360) {
				font-size: 0.8rem;
			}
		}
		&_arrow {
			margin-left: 15px;
			width: 15px;
		}
		&:hover {
			&::before {
				opacity: 1;
			}
		}
		@media (max-width: $r_tab_900) {
			margin-bottom: 5rem;
		}
		@media (max-width: $r_mob_700) {
				font-size: 1.8rem;
		}
	}
	&__rightitem {
		margin-top: 1rem;
		margin-left: 0;
		&-included {
			color: $grey;
			font-weight: 700;
			line-height: 150%; 
			padding-left: 0;
		}
		&-list {
			color: $grey;
			font-weight: 400;
			line-height: 200%;
			opacity: 0.8;
			margin: 0;
			padding-left: 2rem;
			@media (max-width: $r_tab) {
				font-size: 1.4rem;
			}
			@media (max-width: $r_mob_400) {
				font-size: 1rem;
			}
		}
	}
	&__price {
		color: $grey;
		font-size: 4.2rem;
		font-weight: 700;
		line-height: 150%;
		position: relative;
		z-index: 1;
		&::before {
			content: '';
			background-color: $red;
			width: 90px;
			height: 90px;
			border-radius: 100%;
			position: absolute;
			top: -1.5rem;
			left: -4.5rem;
			z-index: -1;
			@media (max-width: $r_tab) {
				width: 60px;
			height: 60px;
			top: -0.5rem;
			left: -3rem;
			}
			@media (max-width: $r_mob_500) {
				width: 40px;
				height: 40px;
				left: -2.3rem;
			}
		}
		@media (max-width: $r_desk) {
			font-size: 4rem;
		}
		@media (max-width: $r_tab) {
			font-size: 3.4rem;
		}
		@media (max-width: $r_mob_700) {
			font-size: 2.4rem;
		}
		@media (max-width: $r_mob_400) {
			font-size: 2rem;
		}
	}
	&-price {
		color:$grey;
		font-size: 4.2rem;
		font-weight: 700;
		line-height: 150%;
		@media (max-width: $r_desk) {
			font-size: 4rem;
		}
		@media (max-width: $r_tab) {
			font-size: 3.4rem;
		}
		@media (max-width: $r_mob_700) {
			font-size: 2.4rem;
		}
		@media (max-width: $r_mob_400) {
			font-size: 2rem;
		}
	}
}
.feedback {
	padding-top: 11rem;
	position: relative;
	&__triangle {
		background-image: url(../images/triangle.svg);
		background-repeat: no-repeat;
		position: absolute;
		width: 100%;
		height: 9.5rem;
		left: -17.7rem;
		top: 5rem;
		z-index: 3;
		@media (max-width: $r_desk_1500) {
			left: -9rem;
		}
		@media (max-width: $r_desk_1350) {
			left: 16rem;
			top: -6rem;
		}
		@media (max-width: $r_desk) {
			height: 6rem;
			left: 13rem;
			top: -7rem;
		}
		@media (max-width: $r_mob_700) {
			left: 10rem;
			height: 5rem;
			}
		@media (max-width: $r_mob_400) {
				left: 9rem;
				height: 3.9rem;
			}
	}
	
	&__top {
		display: grid;
		grid-template-areas: "title descript" "border border" ;
		&_title {
			grid-area: title;
		}
		&-description {
			grid-area: descript;
		}
		&-border {
			grid-area: border;
		}
		position: relative;
		padding-bottom: 3rem;
		z-index: 1;
		@media (max-width: $r_mob_700) {
			display: block;
			}
			&::before {
				content: '';
				background-color: $red;
				width: 300px;
				height: 300px;
				border-radius: 100%;
				position: absolute;
				left: -14.5rem;
				z-index: -1;
				@media (max-width: $r_desk_1500) {
					left: -6.5rem;
				}
				@media (max-width: $r_desk_1350) {
					top: -2rem
				}
				@media (max-width: $r_desk_1280) {
					left: -4.5rem;
				}
				@media (max-width: $r_desk) {
					top: -7rem;
					left: -6rem;
					width: 250px;
				height: 250px;
				}
				@media (max-width: $r_mob_700) {
					width: 210px;
					height: 210px;
					}
					@media (max-width: $r_mob_400) {
						width: 190px;
						height: 190px;
						left: -5rem;
						}
			}
		&_title {
			min-width: 58rem;
			color: $grey;
			font-size: 28px;
			font-weight: 700;
			line-height: 150%;
			letter-spacing: 0.84px;
			text-transform: uppercase;
			@media (max-width: $r_desk_1150) {
				min-width: 40rem;
			}
			@media (max-width: $r_desk) {
				font-size: 24px;
			}
			@media (max-width: $r_tab) {
				min-width: 26rem;
				font-size: 22px;
		}
		@media (max-width: $r_mob_400) {
			font-size: 1.6rem;
			}
		}
		&-description {
			color: $grey;
			font-size: 2.8rem;
			font-weight: 400;
			line-height: 150%;
			@media (max-width: $r_tab) {
				font-size: 2.2rem;
			}
			@media (max-width: $r_mob_700) {
				max-width: 50rem;
				font-size: 2.6rem;
			}
			@media (max-width: $r_mob_500) {
				font-size: 1.8rem;
				}
				@media (max-width: $r_mob_400) {
					font-size: 1.5rem;
					}
					
		}
		&-border {
			border-bottom: 1px solid $grey;
			margin-top: 2.8rem;
		}
	}
	&__connection {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid $grey;
		padding-bottom: 13rem;
		@media (max-width: $r_tab_900) {
			flex-direction: column-reverse;
		}
		@media (max-width: $r_mob_500) {
			padding-bottom: 6rem;
		}
		&_social {
			display: flex;
			color: $grey;
			align-items: center;
			list-style-type: none;
			text-decoration: none;
			gap: 5.4rem;
			position: relative;
			padding-left: 0;
			align-self: end;
			margin-bottom: 0;
			@media (max-width: $r_tab_900) {
				margin-top: 8rem;
				align-self: center;
			}
			@media (max-width: $r_mob_700) {
				gap: 4rem;
				margin-top: 6rem;
			}
		}
	}
}
.socialfb{
	position: relative;
	list-style-type: none;
	&::before {
		content: '';
		background-color: $grey;
		margin-top: -2px;
		width: 1px;
		height: 24px;
		position: absolute;
		left: -2.6rem;
		opacity: 0.5;
		cursor: auto;
		pointer-events: none;
		@media (max-width: $r_mob_700) {
			left: -2rem;
		}
	}
		&-VK {
		transition: 0.5s;
		margin-top: 1rem;
		&:hover {
			color: $red;
		}
	}
	&-Instagram {
		transition: 0.5s;
		margin-top: 1rem;
		&:hover {
			color: $red;
		}
	}
	&-Linkedin {
		transition: 0.5s;
		margin-top: 1rem;
		&:hover {
			color: $red;
		}
	}
}
.form {
	transition: .5s;
	width: 56rem;
	@media (max-width: $r_tab_900) {
	margin: 0 15%;
	}
	@media (max-width: $r_tab) {
		margin: 0 10%;
		}
	@media (max-width: $r_mob_700) {
		margin: 0;
		width: 100%;
	}
	&_phone {
		display: block;
		color:$grey;
		font-size: 12px;
		font-weight: 400;
		line-height: 150%;
		margin-bottom: 1rem;
		margin-top: 3rem;
	}
	&_input {
		background-color: rgba(243, 242, 240, 0.1);
		border: none;
		border-radius: 0;
		width: 100%;
		height: 6.5rem;
		color: rgba(243, 242, 240, 0.2);
		font-size: 12px;
		font-weight: 400;
		line-height: 150%;
		padding: 0 2rem;
		box-sizing: border-box;
		&:focus {
			color: rgba(243, 242, 240, 1);
			outline: none;
		}
	}
	&__messenger {
		display: block;
		position: relative;
		color:$grey;
		font-size: 12px;
		font-weight: 400;
		line-height: 150%;
		text-decoration: none;
		margin-top: 2rem;
		input[type="checkbox"]{
			display:none;
			&:checked{
			~.form__messenger_list{
				text-decoration: none;
				opacity: 1;
				max-height: 400px;
				padding: .6rem 0;
			}
			~.cont{
				z-index: 99;
				background-image: url(../images/Arrowstreverse.png);
				&:after{transform: rotate(180deg);}
			}
			~.overlay-close{
				transform: none;
				pointer-events:initial;
				}
			~.form__messenger-send{
				display: none;
			}
		}
	}
		 &_list {
			max-width: 100%;
			padding:0;
			margin:0;
			transition: all .5s ease; 
			overflow: hidden;
			max-height:0;
			box-sizing: border-box;
			z-index: 3;
			}
		&_item {
			list-style:none;
			padding-left: 20px;
			background-color: rgba(243, 242, 240, 0.1);
			border: none;
			border-radius: 0;
			a{ 
			display:block;
			color: rgba(243, 242, 240, 0.40);
			text-decoration: none;
			font-size: 12px;
			font-weight: 400;
			line-height: 250%; 
			transition: all .5s ease;
				}
				&:last-child {
					a{
						color: $grey;
						padding-bottom: 1.7rem;
					}
				}
			}
		&-send {
			background-color: $red;
			border: none;
			border-radius: 0;
			width: 100%;
			height: 6.5rem;
			margin-top: 4.5rem;
			color: $grey;
			font-size: 16px;
			font-weight: 700;
			line-height: 150%;
			box-sizing: border-box;
			z-index: 0;
			&:hover {
				cursor: pointer;
				background-color: #EA0E00;
			}
		}
	}
}
.cont{
	position: relative;
	display: block;
	cursor: pointer;
	background-color: rgba(243, 242, 240, 0.1);
	border: none;
	border-radius: 0;
	width: 100%;
	height: 6.5rem;
	background-image: url(../images/Arrowst.png);
	background-repeat: no-repeat;
	background-position-x: 96%;
	background-position-y: center;
	color: $grey;
	font-size: 12px;
	font-weight: 400;
	line-height: 150%;
	padding-left: 20px;
	box-sizing: border-box;
	transition: all .5s ease;
	margin-top: 1rem;
	margin-bottom: -0.6rem;
	&:after{
	  content:"";
	  display:inline-block;
	  width:.5em;
	  margin-left: .8em;
	  margin-top: 3.7rem;
	}
}
.overlay-close {
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index:9;
	transform: translate(100%,0);
	pointer-events: none;
}
.footermain {
	display: block;
	margin-top: 2rem;
	padding-bottom: 4.2rem;
}
.footer {	
	margin-top: 3.2rem;
	@media (max-width: $r_tab) {
		flex-direction: column-reverse;
		text-align: center;
		row-gap: 3rem;
	}
	&__nav {
		@media (max-width: $r_tab) {
			font-size: 1.4rem;
			justify-content: space-between;
		}
		@media (max-width: $r_mob_700) {
			font-size: 1.2rem;
		}
		@media (max-width: $r_mob_500) {
			padding-left: 1.2rem;
			row-gap: 1rem;
			font-size: 1.1rem;
		}
		@media (max-width: $r_mob_400) {
			row-gap: 0.8rem;
			font-size: 1rem;
		}
		@media (max-width: $r_mob_360) {
			row-gap: 0.4rem;
			font-size: 0.85rem;
	}
	}
	&__text {
		display: flex;
		justify-content: space-between;
		color: rgba(243, 242, 240, 0.3);
		font-size: 1.2rem;
		font-weight: 400;
		line-height: 150%;
		margin-top: 1.8rem;
		@media (max-width: $r_mob_700) {
			display: block;
			text-align: center;
		}
		@media (max-width: $r_mob_400) {
			font-size: 1rem;
		}
		@media (max-width: $r_mob_360) {
			font-size: 0.9rem;
		}
	}
	&__author {
		color: rgba(243, 242, 240, 0.5);
		font-size: 1.2rem;
		font-weight: 400;
		line-height: 150%;
		transition: 0.5s;
		&:hover {
			color: rgba(243, 242, 240, 1);
		}
		@media (max-width: $r_mob_400) {
			font-size: 1rem;
		}
		@media (max-width: $r_mob_360) {
			font-size: 0.9rem;
		}
	}
}

//popup

.popup {
	position: fixed;
	background-color: $black;
	background-repeat: no-repeat;
	background-position: center;
	align-items: center;
	max-width: 60rem;
	height: 98%;
	padding-bottom: 2rem;
	margin: 0 auto;
	left: 0;
	right: 0;
	box-sizing: border-box;
	top: 7rem;
	transition: all .5s ease;
	visibility: hidden;
	z-index: 2;
	@media (max-width: $r_mob_700) {
		max-width: 85%;
	}
	@media (max-width: $r_mob_500) {
		top: 3.5rem;
	}
	&_title {
		color: $grey;
		text-align: center;
		font-size: 2.2rem;
		font-weight: 700;
		line-height: 150%;
		letter-spacing: 0.66px;
		text-transform: uppercase;
		padding-top: 5rem;
	}
	&_text {
		color: $grey;
		text-align: center;
		font-weight: 400;
		line-height: 150%;
		padding-bottom: 3rem;
		margin: 1rem 14rem;
		@media (max-width: $r_mob_700) {
			margin: 1rem 7rem;
		}
		@media (max-width: $r_mob_500) {
			margin: 1rem 4rem;
		}
		@media (max-width: $r_mob_400) {
			margin: 1rem 2rem;
		}
		@media (max-width: $r_mob_360) {
			margin: 1rem 0;
		}
	}
	&_border {
		border-bottom: 1px solid $grey;
		margin: 0 2rem;
		max-width: 97%;
	}
	&_form {
		margin:4rem 2rem;
	}
	&_close {
		width: 2rem;
		height: 2rem;
		background-image: url(../images/close.svg);
		position: absolute;
		background-color: transparent;
		background-size: contain;
		background-repeat: no-repeat;
		border: none;
		top: 2rem;
		right: 2rem;
		cursor: pointer;
		z-index: 2;
	}
}

//modal

.modal {
	display: none;
	@media (max-width: $r_mob_700) {
		display: block;
		background-color: $black;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		height: 100%;
		text-align: center;
		position: absolute;
		margin: 0 auto 0;
		padding: 8rem 2rem 4rem 0;
		top: -78rem;
		left: 0;
		right: 0;
		box-sizing: border-box;
		transition: .5s;
		z-index: 6;
	}	
	&_nav {
		display: block;
		margin-left: -2.7rem;
		margin-right: -1rem;
	}
	&_item {
		border-bottom: 1px solid rgba(243, 242, 240, 0.2);
		padding: 2rem 0;
		font-size: 2.6rem;
		&:first-child {
			border-top: 1px solid rgba(243, 242, 240, 0.2);
		}		
	}
	&_contacts {
		display: flex;
		position: relative;
		justify-content: center;
		box-sizing: border-box;
		gap: 0.5rem;
		margin-top: 6rem;
		&::before {
			content: '';
			background-color: $grey;
			width: 1px;
			height: 24px;
			margin-top: -4px;
			position: absolute;
			left: 49%;
			opacity: 0.5;
			@media (max-width: $r_mob_500) {
				display: block;
				left: 48%;
			}
	}
}
&_tel, &_mail {
	&:hover {
color: $grey;
	}
	&:active {
		color: $red;
	}
	@media (max-width: $r_mob_500) {
		font-size: 1.2rem;
	}
	@media (max-width: $r_mob_400) {
		font-size: 1.1rem;
	}
	@media (max-width: $r_mob_360) {
		font-size: 1rem;
	}
}
&_mail {
	@media (max-width: $r_mob_500) {
		display: block;
	}
	@media (max-width: $r_mob_400) {
		margin-left: 0.8rem;
	}
	@media (max-width: $r_mob_360) {
		margin-left: 0.6rem;
	}
}
&_social {
	display: flex;
	margin-top: 3rem;
	position: relative;
	justify-content: center;
	box-sizing: border-box;
}
&-VK, &-Instagram, &-Linkedin {
	cursor: default;
	&:hover {
		color: $grey;
		}
	&:active {
		color: $red;
		}
	}
}
	.burgerclose {
		width: 2rem;
		height: 2rem;
		background-image: url(../images/close.svg);
		position: absolute;
		background-color: transparent;
		background-size: contain;
		background-repeat: no-repeat;
		border: none;
		top: 2rem;
		right: 2rem;
		z-index: 2;
		&:active {
			background-color: $red;
		}
	}
