@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$dark-orange: #cf5c0d;
$white: #fff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

$r_minmob:320px;
$r_mob_360: 360px;
$r_mob_400: 400px;
$r_mob_500: 500px;
$r_tab: 768px;
$r_tab_900: 900px;
$r_desk: 1000px;
$r_desk_1120: 1120px;
$r_desk_hd: 1200px;
$r_desk_1280: 1280px;
$r_desk_1350: 1350px;
$r_desk_1500: 1500px;
$r_desk_1750: 1750px;

html {
	font-size: 10px;
	@media (max-width: $r_mob_500) {
		font-size: 8px;
	}
}

body {
	font-size: 1.6rem;
	font-family: $font-jost;
	color: $green;
	background-image: url(../images/background_all.png);
	background-size: contain;
	background-repeat: no-repeat;
	overflow-x: hidden;
}

.header {
	max-width: 1440px;
	margin: 0 auto 5rem;
	padding: 4rem 2rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5%;
	@media (max-width: $r_desk_1280) {
		gap: 3%;
	}
	@media (max-width: $r_mob_500) {
		padding: 4rem 15px 0 15px;
		}
	&__navigation {
		flex-grow: 1;
		margin-left: 4.5rem;
		@media (max-width: $r_desk_1280) {
			margin-left: 0;
		}
		@media (max-width: $r_desk_hd) {
			flex-grow: 0;
		}
		@media (max-width: $r_tab_900) {
			display: none;
		}
	}
	&__nav {
		display: flex;
		list-style-type: none;
		margin: 0;
		margin-left: 2rem;
		padding-left: 0;
		gap: 4.8rem;
		@media (max-width: $r_desk_hd) {
			gap: 2.5rem;
		}
	}
	&__link {
		color: $green;
		text-decoration: none;
		transition: .3s;
		&:hover {
			color: $orange;
		}
	}
	&__tel {
		color: $green;
		font-weight: 500;
		text-decoration: none;
		flex-basis: 200px;
		letter-spacing: .13rem;
		text-align: right;
		animation: tel 5s linear infinite;
		&:hover {
			color: $orange;
		}
		@media (max-width: $r_desk_hd) {
			display: none;
		}
	}
	&__cart {
		display: block;
		width: 4rem;
		height: 4rem;
		border-radius: 100%;
		background-color: $orange;
		background-image: url(../images/cart.svg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 1.7rem 1.5rem;
		position: relative;
		border: 1px solid $orange;
		padding: 0;
		transition: .3s;
		cursor: pointer;
		@media (max-width: $r_desk_hd) {
			background-color: $white;
			background-image: url(../images/cart-mobi.svg);
			border: 1px solid $green;
			opacity: .8;
		}
		@media (max-width: $r_mob_500) {
			width: 4.5rem;
			height: 4.5rem;
			background-size: 2rem;
		}
		&:hover {
			background-color: $green;
			border: 1px solid $green;
			@media (max-width: $r_desk_hd) {
				background-color: $white;
				opacity: 1;
			}
		}
	}
	&__counter {
		font-size: .8rem;
		color: $white;
		position: absolute;
		right: 0.7rem;
		top: .3rem;
		@media (max-width: $r_desk_hd) {
			color: $green;
		}
		@media (max-width: $r_mob_500) {
			font-size: 1rem;
		}
	}
	&__phone, &__menu {
		display: none;
	}
	&__phone {
		@media (max-width: $r_desk_hd) {
			display: block;
			width: 4rem;
			height: 4rem;
			border-radius: 100%;
			background-color: $white;
			background-image: url(../images/tel1.svg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 1.7rem 1.5rem;
			position: relative;
			border: 1px solid $green;
			padding: 0;
			opacity: .8;
			transition: .3s;
		}
		@media (max-width: $r_mob_500) {
			width: 4.5rem;
			height: 4.5rem;
			background-size: 1.9rem;
		}
		&:hover {
			opacity: 1;
		}
	}
	&__menu {
		@media (max-width: $r_tab_900) {
			display: block;
			width: 4rem;
			height: 4rem;
			border-radius: 100%;
			background-color: $white;
			background-image: url(../images/menu.svg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 1.7rem 1.5rem;
			position: relative;
			border: 1px solid $green;
			padding: 0;
			opacity: .8;
			transition: .3s;
		}
		@media (max-width: $r_mob_500) {
			width: 4.5rem;
			height: 4.5rem;
			background-size: 2rem;
		}
	}
	&__buttons {
		@media (max-width: $r_desk_hd) {
			display: flex;
			align-items: center;
			gap: 1.5rem;
		}
		@media (max-width: $r_mob_500) {
			gap: 1.4rem;
		}
	}
}
.logo {
	display: block;
	background-image: url(../images/logo.svg);
	background-repeat: no-repeat;
	background-size: contain;
	flex-basis: 12rem;
	height: 3.2rem;
	&_footer {
		flex-basis: 18rem;
		height: 4.8rem;
		margin-top: 0.8rem;
		@media (max-width: $r_desk) {
			display: none;
		}
	}
}
.container {
	max-width: 1440px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	@media (max-width: $r_tab) {
		max-width: 600px;
	}
}
.main {
	position: relative;
	padding-bottom: 187px;
	z-index: 0;
	@media (max-width: $r_tab) {
		padding-bottom: 3rem;
	}
	&__item {
		margin-left: 12rem;
		max-width: 378px;
		margin-top: 6rem;
		@media (max-width: $r_desk_1280) {
			margin-left: 8rem;
		}
		@media (max-width: $r_desk_1120) {
			margin-left: 4rem;
		}
		@media (max-width: $r_tab) {
			max-width: 100%;
			margin-left: 0;
			margin-top: 3rem;
		}
	}
	&__link {
		margin-top: 6rem;
		@media (max-width: $r_tab) {
			text-align: center;
		}
		@media (max-width: $r_mob_500) {
			margin-top: 3.3rem;
		}
	}
	&__flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
		@media (max-width: $r_desk_1120) {
			padding-top: 3rem;
			padding-bottom: 9rem;
		}
	}
	&__cover {
		flex-basis: 758px;
		height: 758px;
		border: 1px solid rgba($green, 0.4);
		border-radius: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		@media (max-width: $r_desk_1350) {
			flex-basis: 650px;
			height: 650px;
		}
		@media (max-width: $r_desk_hd) {
			flex-basis: 600px;
			height: 600px;
		}
		@media (max-width: $r_desk_1120) {
			border: 1px solid transparent;
			height: auto;
			flex-basis: calc(100% - 395px);
		}
		@media (max-width: $r_tab) {
		display: none;
		}
	}
	&__line {
		width: 656px;
		height: 656px;
		border: 1px solid rgba($green, 0.4);
		border-radius: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@media (max-width: $r_desk_1350) {
			width: 600px;
			height: 600px;
		}
		@media (max-width: $r_desk_hd) {
			border: 1px solid transparent;
			width: auto;
			height: auto;
		}
	}
	&__image {
		width: 92%;
		border-radius: 100%;
		animation: shadow 5s linear infinite;
	}
	&__imagemobi {
		display: none;
		@media (max-width: $r_tab) {
			border-radius: 50%;
			display: block;
			max-width: 300px;
			margin: 0 auto;
			margin-top: 3rem;
			animation: shadow 5s linear infinite;
		}
		@media (max-width: $r_mob_500) {
			max-width: 220px;
		}
	}
	&__text {
		padding-top: 4rem;
		@media (max-width: $r_desk_1120) {
			flex-basis: 395px;
		}
		@media (max-width: $r_tab) {
			flex-basis: 100%;
			padding-top: 0;
			}
	}
	&__btn {
		background-color: transparent;
		border: none;
		padding: 0;
		position: absolute;
		color: $green;
		text-align: left;
			&:hover {
				&::before {
				background-color: $orange;
				box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
			}
		}
			&::before {
			content: '';
			background-color: $green;
			width: 11px;
			height: 11px;
			box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
			border-radius: 100%;
			position: absolute;
			cursor: pointer;
			transition: .3s;
		}
		&_1 {
			top: 4.8rem;
			left: 6.2rem;
			@media (max-width: $r_desk_1350) {
				top: 5rem;
				left: 2.4rem;
			}
			@media (max-width: $r_desk_hd) {
				top: 5rem;
				left: 1.2rem;
			}
						@media (max-width: $r_desk_1120) {
				display: none;
			}
			&::before {
				bottom: 5px;
				right: -34px;
			}
		}
		&_2 {
			top: 16rem;
			right: 4.5rem;
				@media (max-width: $r_desk_1350) {
				top: 13rem;
				right: 1rem;
			}
			@media (max-width: $r_desk_hd) {
				top: 10rem;
				right: -1rem;
			};
			@media (max-width: $r_desk_1120) {
				display: none;
			}
			&::before {
				top: 5rem;
				left: 2rem;
		}
	}
		&_3 {
			bottom: -5.2rem;
			right: 24.5rem;
			@media (max-width: $r_desk_1350) {
				bottom: -6rem;
			}
			@media (max-width: $r_desk_hd) {
				bottom: -6rem;
			}
			@media (max-width: $r_desk_1120) {
				display: none;
			}
			&::before {
				top: -31px;
				left: 13px;
		}
	}
}
	&__food {
		display: block;
		color: rgba($green, 0.8);
	}
	&__tomato {
		position: absolute;
		bottom: 12rem;
		right: 6rem;
		width: 11rem;
		z-index: -1;
		@media (max-width: $r_tab) {
			width: 7rem;
			right: 2rem;
			bottom: 0;
		}
		@media (max-width: $r_mob_500) {
			bottom: inherit;
			top: 82px;
			right: inherit;
			left: -14px;
		}
	}
	&__avocado {
		position: absolute;
		top: 56px;
		right: 0;
		width: 17.8rem;
		z-index: -1;
		@media (max-width: $r_desk_1750) {
			top: 120px;
			width: 9.8rem;
			right: -50px;
		}
		@media (max-width: $r_mob_500) {
			top: 88px;
			right: -38px;
		}
	}
	&__cucumber {
		position: absolute;
		top: 0;
		left: 34%;
		width: 8.4rem;
		z-index: -1;
		@media (max-width: $r_mob_500) {
			transform: rotate(90deg);
			width: 6.5rem;
			top: inherit;
			left: inherit;
			right: -15px;
			bottom: 216px;
		}
	}
	&__pepper {
		position: absolute;
		top: 397px;
		left: 20px;
		width: 8.6rem;
		z-index: -1;
		@media (max-width: $r_desk_1750) {
			display: none;
		}
		@media (max-width: $r_mob_500) {
			display: block;
			top: 352px;
			left: -4px;
			width: 4.6rem;
		}
	}
	&__beans {
		position: absolute;
		bottom: 16rem;
		left:-5.7rem;
		width: 11rem;
		z-index: -1;
		@media (max-width: $r_tab) {
			width: 7.5rem;
			bottom: 20px;
		}
		@media (max-width: $r_mob_500) {
			display: none;
		}
	}
}
.title {
	font-family: $font-cormorant;
	font-weight: 700;
	font-size: 8rem;
	line-height: 1;
	margin: 0;
	@media (max-width: $r_desk_1280) {
		font-size: 7rem;
	}
	@media (max-width: $r_desk_1120) {
		font-size: 6rem;
	}
	@media (max-width: $r_tab) {
		text-align: center;
	}
	@media (max-width: $r_mob_360) {
		font-size: 5rem;
	}
	&__span {
		font-style: italic;
	}
	&_block {
		.title__span {
			display: block;
		}
	}
}
.description {
	margin: 0;
	line-height: 1.5;
	@media (max-width: $r_tab) {
		text-align: center;
		}
	&_size-s {
		font-size: 1.8rem;
		@media (max-width: $r_desk_1280) {
			font-size: 1.8rem;
		}
	}
	&_size-m {
		font-size: 2.4rem;
		@media (max-width: $r_desk_1280) {
			font-size: 2.2rem;
		}
		@media (max-width: $r_mob_360) {
			font-size: 1.8rem;
			}
	}
}
.link {
	color: $white;
	letter-spacing: 0.13rem;
	text-transform: uppercase;
	justify-content: center;
	padding: 2.4rem 4.3rem;
	background-color: $orange;
	box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
	text-decoration: none;
	border-radius: 3.8rem;
	display: inline-block;
	border: none;
	cursor: pointer;
	transition: .3s;
	@media (max-width: $r_desk_1280) {
		font-size: 1.4rem;
	}
	&:hover {
		background-color: $dark-orange;
	}
	&_min {
		font-size: 1.4rem;
		padding: 2rem 3.4rem;
		box-shadow: 0px 1rem 1.1rem .17rem rgba(207, 92, 13, 0.15);
		@media (max-width: $r_desk_1350) {
			padding: 1.8rem 2.8rem;
		}
		@media (max-width: $r_desk_1280) {
			display: flex;
			padding: 1.8rem auto;
			width: 18rem;
			
		}
		@media (max-width: $r_tab) {
			width: 80%;
		}
		@media (max-width: $r_mob_500) {
			width: 100%;
		}
	}
	&_max {
		font-size: 1.6rem;
		padding: 2.1rem 5rem;
		box-shadow: 0px 1rem 1.1rem .17rem rgba(207, 92, 13, 0.15);
		@media (max-width: $r_desk_1350) {
			padding: 2rem 3rem;
		}
		@media (max-width: $r_desk_1280) {
			display: flex;
			padding: 2.1rem auto;
			margin: 0 5rem;
			
		}
		@media (max-width: $r_tab) {
			margin: 0 12rem;
		}
		@media (max-width: $r_mob_500) {
			margin: 0 3rem;
		}
	}
}
.offer {
	padding-top: 2rem;
	padding-bottom: 12.8rem;
	@media (max-width: $r_tab) {
		padding-bottom: 3rem;
	}
	&__text {
		margin-top: 6rem;
		max-width: 700px;
	}
}
.slider {
	overflow: hidden;
	padding-top: 8rem;
	padding-bottom: 6rem;
	@media (max-width: $r_tab) {
		margin: 0 auto;
	}
	@media (max-width: $r_mob_500) {
		max-width: 250px;
		padding-bottom: 7rem;
	}
	@media (max-width: $r_mob_360) {
		max-width: 100%;
	}
}
.swiper {
	overflow: initial;
	&-slide {
		overflow: hidden;
		border: 1px solid rgba($green, 0.4);
		border-radius: 2rem;
		padding: 3rem 3.7rem 3.8rem;
		box-sizing: border-box;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		z-index: 0;
		transition: .5s;
		@media (max-width: $r_desk_1280) {
			padding: 2rem 1rem 2rem;
		}
		&_white {
			height: 520px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			background-size: contain;
			padding: 4rem 3.4rem;
			@media (max-width: $r_desk_hd) {
				height: 400px;
			}
			@media (max-width: $r_mob_500) {
				height: 240px;
				text-align: center;
				padding: 2.2rem 1.7rem;
			}
			&:hover {
				.swiper-slide__hover {
					height: 233px;
					opacity: 1;
					@media (max-width: $r_mob_500) {
						height: auto;
					}
				}
				&::after {
					content: '';
					background-color: rgba($white, .55);
					width: calc(100% - 4px);
					height: calc(100% - 4px);
					position: absolute;
					top: 2px;
					left: 2px;
					border-radius: 2rem;
					z-index: -1;
				}
			}
		}
	&:hover {
		box-shadow: 0 0 0 2px rgba($green, 0.4) inset;
	}
	&_milk {
		background-image: url(../images/milk.png);
		@media (max-width: $r_tab) {
			background-position: center;
		}
	}
	&_pasta {
		background-image: url(../images/pasta.png);
	}
	&_steaks {
		background-image: url(../images/steaks.png);
	}
	&__title {
		font-family: $font-cormorant;
		font-size: 3rem;
		color: $green;
		margin-bottom: 0;
		@media (max-width: $r_desk_1280) {
			text-align: center;
		}
		@media (max-width: $r_desk_hd) {
			font-size: 2.5rem;
		}
		@media (max-width: $r_mob_500) {
			font-size: 1.75rem;
			margin-top: 0;
			margin-bottom: 1rem;
		}
	}
	&__description {
		font-size: 1.8rem;
		color: rgba($green, 0.7);
		margin-top: 2rem;
		margin-bottom: 0;
		min-height: 55px;
		max-width: 300px;
		line-height: 1.5;
		@media (max-width: $r_desk_1280) {
			text-align: center;
			max-width: 100%;
		}
		@media (max-width: $r_mob_500) {
			font-size: 1.5rem;
		}
	}
	&__price {
		font-size: 2.4rem;
		margin-bottom: 3rem;
		@media (max-width: $r_desk_1280) {
			text-align: center;
		}
		@media (max-width: $r_mob_500) {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
	}
	&__hover {
		height: 0;
		opacity: 0;
		transition: .3s;
		@media (max-width: $r_mob_500) {
			height: auto;
			opacity: 1;
		}
	}
	&__text {
		color: rgba($green, 0.7);
		line-height: 1.5;
		margin-top: 2.5rem;
		margin-bottom: 3.4rem;
		max-width: 263px;
		@media (max-width: $r_mob_500) {
			display: none;
		}
	}
	&__link {
		text-transform: uppercase;
		font-weight: 500;
		color: $green;
		text-decoration: none;
		display: flex;
		align-items: center;
		gap: 2rem;
		letter-spacing: 0.1rem;
		opacity: .8;
		transition: 3s;
		@media (max-width: $r_mob_500) {
			font-size: 1.25rem;
			justify-content: center;
			gap: 9px;
		}
		&:hover {
			opacity: 1;
		}
		&::before {
			content: '';
			display: block;
			width: 3rem;
			height: 3rem;
			background-image: url(../images/plus.svg);
			background-size: cover;
			background-repeat: no-repeat;
			@media (max-width: $r_mob_500) {
				width: 2.5rem;
				height: 2.5rem;
			}
		}
	}
	&__cover {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 322px;
		text-align: center;
		@media (max-width: $r_desk_hd) {
			height: 250px;
		}
		@media (max-width: $r_tab_900) {
			height: 180px;
		}
	}
	&__image {
		width: 100%;
		max-width: 351px;
		height: 100%;
		object-fit: contain;
		@media (max-width: $r_desk_hd) {
			max-width: 280px;
		}
		@media (max-width: $r_tab_900) {
			max-width: 180px;
		}
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		@media (max-width: $r_desk_1280) {
			display: block;
		}
	}
}
	&-button-next, &-button-prev {
		top: -60px;
		@media (max-width: $r_tab) {
			display: none;
		}
		&:hover {
			&::after {
				color: rgba($green, 1);
			}
		}
		&::after {
			color: rgba($green, .4);
			font-size: 20px
		}
	}
	&-button-next {
		right: -8px;
	}
	&-button-prev {
		left: initial;
		right: 72px;
	}
}
.swiper-horizontal>.swiper-pagination-bullets {	
	bottom: -50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.swiper-pagination-bullet-active {
	background: $orange;
	border: 1px solid $orange;
}
.swiper-pagination-bullet {
	display: none;
	width: 8px;
	height: 8px;
	@media (max-width: $r_tab) {
		display: block;
	}
}
.counter {
	display: flex;
	&__btn {
		cursor: pointer;
		width: 50px;
		height: 50px;
		border: 1px solid $green;
		background-color: transparent;
		padding: 0;
		background-position: center center;
		border-radius: 100%;
		&_min {
			width: 40px;
			height: 40px;
			
		}
	}	
	&__minus {
		pointer-events: none;
		background-image: url(../images/minus-counter.svg);
		background-size: 9px 11px;
		background-repeat: no-repeat;
		opacity: .4;
	}
	&__plus {
		cursor: pointer;
		background-image: url(../images/plus-counter.svg);
		background-size: 20px 11px;
		background-repeat: no-repeat;
	}
	&__input {
		text-align: center;
		font-size: 2.4rem;
		width: 46px;
		border: 0;
		padding: 0;
		&_min {
			width: 33px;
		}
	}
	@media (max-width: $r_desk_1280) {
		display: none;
	}
}

.about {
	padding-top: 2rem;
	padding-bottom: 19rem;
	@media (max-width: $r_tab) {
		padding-bottom: 4rem;
	}
	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 5rem;
		gap: 9rem;
		@media (max-width: $r_desk_1120) {
			gap: 5rem;
		}
		@media (max-width: $r_tab) {
			display: block;
		}
		&_payment {
			display: flex;
			gap: 11.6rem;
			align-items: center;
			margin-top: 6rem;
			@media (max-width: $r_tab_900) {
				gap: 7rem;
			}
			@media (max-width: $r_tab) {
				display: block;
			}
		}
		}
	&__text {
		margin-left: 12rem;
		flex-basis: 580px;
		&_p {
			color: #dd8145;
		}
		@media (max-width: $r_desk_1280) {
			margin-left: 8rem;
		}
		@media (max-width: $r_desk_1120) {
			margin-left: 2rem;
		}
		@media (max-width: $r_desk) {
			margin-left: 0;
		}
	}
	&__list {
		list-style: none;
		display: flex;
		gap: 9rem;
		font-family: $font-cormorant;
		font-style: italic;
		font-size: 3rem;
		margin: 0;
		padding-left: 0;
		@media (max-width: $r_desk_1120) {
			gap: 5rem;
		}
		@media (max-width: $r_tab) {
			justify-content: center;
		}
		@media (max-width: $r_mob_400) {
			display: block;
		}
		&_system {
		display: flex;
		gap: 3rem;
		padding-left: 0;
		@media (max-width: $r_tab) {
			justify-content: center;
			gap: 7rem;
		}
		@media (max-width: $r_mob_400) {
			gap: 3rem;
		}
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&::before {
			content: '';
			width: 84px;
			height: 84px;
			background-position: center center;
			background-repeat: no-repeat;
			border: 1px solid rgba($green, 0.4);
			border-radius: 100%;
			margin-top: 4rem;
			margin-bottom:  1.5rem;
		}
		&:nth-child(1) {
			&::before {
				background-image: url(../images/about-icon-1.svg);
				background-size: 44px 41px;
			}
		}
		&:nth-child(2) {
			&::before {
				background-image: url(../images/about-icon-2.svg);
				background-size: 40px 40px;
			}
		}
		&:nth-child(3) {
			&::before {
				background-image: url(../images/about-icon-3.svg);
				background-size: 45px 39px;
			}
		}
	}
	&__link {
		color: $green;
		text-decoration: none;
		position: relative;
		&::after {
			content: '';
			width: 100%;
			height: 1px;
			background-color: #858881;
			display: block;
			position: absolute;
			left: 0;
			bottom: 3px;
		}
	}	
	&__payment {
		display: flex;
		align-items: center;
		opacity: .4;
		transform:  scale(1);
		transition: .3s;
		&:hover {
			opacity: 1;
			transform:  scale(1.05);
			cursor: pointer;
		}
			&::before {
			content: '';
			background-repeat: no-repeat;
			margin-top:  2.3rem;
		}
		&:nth-child(1) {
				&::before {
				background-image: url(../images/mastercard.png);
				width: 53px;
				height: 32px;
			}
		}
		&:nth-child(2) {
			&::before {
				background-image: url(../images/visa.png);
				width: 74px;
				height: 23px;
			}
		}
		&:nth-child(3) {
			&::before {
				background-image: url(../images/paypal.png);
				width: 87px;
				height: 24px;
			}
		}
	
}
&__wrap {
	padding-top: 2rem;
}
}
.trends {
	&__text {
		margin-top: 3rem;
	}
}
.catalog {
	padding-top: 11rem;
	padding-bottom: 14rem;
	@media (max-width: $r_tab) {
		padding-bottom: 8rem;
	}
	&__list {
		display: flex;
		margin-top: 8.5rem;
		margin-bottom: 0;
		@media (max-width: $r_tab) {
			margin-top: 5rem;
		}
		@media (max-width: $r_mob_500) {
			margin: 0;
		}
	}
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		border: none;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 1.2;
		font-weight: 400;
		color: $green;
		letter-spacing: 0.08em;
		opacity: .8;
		gap: 1.5rem;
		margin: 6rem auto 0;
		&:hover {
			opacity: 1;
			cursor: pointer;
		}
		&::before {
			content: '';
			width: 2.5rem;
			height: 2.5rem;
			background-image: url(../images/refresh.png);
			background-size: cover;
			background-repeat: no-repeat;
		}
		
	}
}

.category {
	list-style-type: none;
	padding-left: 0;
	padding-bottom: 2.5rem;
	display: flex;
	align-items: center;
	gap: 2rem;
	flex-wrap: wrap;
	&__item1 {
		flex-basis: 230px;
		text-align: center;
		@media (max-width: $r_tab) {
			flex-basis: 210px;
	}
		@media (max-width: $r_mob_500) {
			display: none;
	}
	}
	&__item2 {
		border: 0;
		text-align: center;
		display: none;
		&:hover {
			box-shadow: 0 0 0 2px rgba($green, 0);
		}
		@media (max-width: $r_mob_500) {
			display: block;
		}
	}
	&__link {
		padding: 2.4rem 2rem;
		border: 1px solid rgba($green, .5);
		color:rgba($green, .5);
		font-size: 1.8rem;
		text-decoration: none;
		border-radius: 4rem;
		display: block;
		transition: .3s;
		&:hover {
			border: 1px solid $orange;
			color: $orange;
		}
	}
}
.category-slider {
	display: none;
	@media (max-width: $r_mob_500) {
		padding-top: 5rem;
		padding-bottom: 2.5rem;
		display: block;
	}
}
.catalog-grid {
	padding-top: 2.5rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	@media (max-width: $r_desk_1280) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media (max-width: $r_desk) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: $r_tab) {
		gap: 10px;
	}
	&__item {
		border: 1px solid rgba($green, 0.4);
		border-radius: 2rem;
		padding: 2.7rem 3rem 3.8rem;
		box-sizing: border-box;
		&:hover {
			box-shadow: 0 0 0 2px rgba($green, 0.4) inset;
		}
		@media (max-width: $r_desk_1500) {
			padding: 2.2rem 2rem 2.8rem;
		}
		@media (max-width: $r_desk_1350) {
			padding: 2.2rem 1rem 2.8rem;
		}
		@media (max-width: $r_mob_360) {
			padding: 2.2rem 0.5rem 2.8rem;
		}
	}
	&__cover {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 204px;
		text-align: center;
		@media (max-width: $r_tab) {
			height: 150px;
		}
	}
	&__image {
		width: 100%;
		max-width: 205px;
		height: 100%;
		object-fit: contain;
		@media (max-width: $r_desk_1500) {
			max-width: 150px;
		}
	}
	&__title {
		font-family: $font-cormorant;
		font-size: 3rem;
		color: $green;
		margin-bottom: 0;
		@media (max-width: $r_desk_1280) {
			text-align: center;
		}
		@media (max-width: $r_tab) {
			font-size: 2rem;
		}
		@media (max-width: $r_mob_500) {
			font-size: 1.75rem;
			margin-top: 0;
			margin-bottom: 1rem;
		}
		
	}
	&__description {
		font-size: 1.6rem;
		color: rgba($green, .7);
		margin-top: 1.8rem;
		margin-bottom: 0;
		min-height: 61px;
		max-width: 300px;
		line-height: 1.5;
		@media (max-width: $r_desk_1280) {
			text-align: center;
			max-width: 100%;
		}
		@media (max-width: $r_tab) {
			font-size: 1.5rem;
		}
	}
	&__price {
		font-size: 2.4rem;
		margin-bottom: 3rem;
		margin-top: 0;
		@media (max-width: $r_desk_1280) {
			text-align: center;
		}
		@media (max-width: $r_tab) {
			font-size: 2rem;
		}
		@media (max-width: $r_mob_500) {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 5%;
		@media (max-width: $r_desk_1280) {
			justify-content: center;
		}
	}
}
.contact {
	padding-top: 10rem;
	padding-bottom: 16rem;
	@media (max-width: $r_tab) {
		padding-top: 4rem;
		padding-bottom: 8rem;
	}
	&-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2rem;
		@media (max-width: $r_tab) {
			display: block;
		}
		&__text {
			max-width: 400px;
			flex-grow: 1;
			margin-top: 5.8rem;
			line-height: 27px;
			margin-left: 13rem;
			@media (max-width: $r_desk_1120) {
				margin-left: 4rem;
			}
			@media (max-width: $r_tab_900) {
				margin-left: 0.5rem;
			}
			@media (max-width: $r_tab) {
				text-align: center;
				margin: 3.8rem auto 3.1rem;
			}
		}
		&__form {
			flex-basis: 589px;
			@media (max-width: $r_desk_1120) {
				flex-basis: 520px;
			}
			@media (max-width: $r_tab_900) {
				flex-basis: 500px;
			}
		}
		&__wrap {
			padding-left: 0;
			margin-top: 6.7rem;
			list-style-type: none;
			font-family: Jost;
				font-size: 24px;
				line-height: 1.2;
				font-weight: 500;
				@media (max-width: $r_tab) {
					display: flex;
					justify-content: space-evenly;
					font-size: 14px;
					margin-top: 0;
				}
				@media (max-width: $r_mob_400) {
					font-size: 12px;
				}
				@media (max-width: $r_mob_360) {
					font-size: 10px;
				}
				&_list {
					display: flex;
					margin-bottom: 2.6rem;
					align-items: center;
					gap: 3rem;
					@media (max-width: $r_tab) {
						gap: 0.5rem;
					}
				}
				&-tel {
					color: $green;
					text-decoration: none;
					}
				&-mail {
					color: $green;
					text-decoration: none;
					
				}
		}
		&__imgtel {
			background-image: url(../images/tel.svg);
			background-repeat: no-repeat;
			width: 29px;
			height: 25px;
		}
		&__imgmail {
			background-image: url(../images/mail.svg);
			background-repeat: no-repeat;
			width: 29px;
			height: 19px;
		}
	}
}
.card {
	border: 2px solid rgba($green, 0.4);
	padding: 3.2rem 5.8rem 4rem;
	border-radius: 2rem;
	@media (max-width: $r_mob_400) {
		padding: 3.2rem 4rem 4rem;
	}
	&__title {
		font-size: 30px;
		font-family: $font-cormorant;
		margin-top: 0;
		@media (max-width: $r_mob_360) {
			font-size: 26px;
		}
	}
	&__label {
			font-size: 1.2rem;
			margin-bottom: 1rem;
			display: block;
			margin-left: .6rem;
	}
	&__input {
		border: 1px solid rgba($green, .4);
		border-radius: 2rem;
		margin-bottom: 2.8rem;
		display: block;
		padding: 2.2rem 3rem;
		margin-bottom: 2rem;
		display: block;
		width: 100%;
		box-sizing: border-box;
		transition: .3s;
		&:focus {
			border: 1px solid rgba($green, 1);
			outline: none;
		}
		&:invalid {
			border: red;
		}
	}
	&__check {
		font-size: 1.6rem;
		color: rgba($green, .6);
		line-height: 1.5;
		max-width: 360px;
		margin-top: 1.6rem;
		margin-bottom: 0;
		@media (max-width: $r_mob_500) {
			text-align: center;
		}
		@media (max-width: $r_mob_360) {
			font-size: 1.3rem;
		}
	}
	&__link {
		margin-top: 1.2rem;
		@media (max-width: $r_mob_500) {
			display: flex;
			margin: 2.1rem auto;
		}
		@media (max-width: $r_mob_360) {
			width: 100%;
		}
		}
	&__docs {
		color: rgba($green, .6);
		text-decoration: none;
		border-bottom: 1px solid #ecedec;
	}
}
footer {
	border-top: 1px solid #d4d6cf;
	padding-top: 7.9rem;
	padding-bottom: 7rem;
}
.footer {
	&__box {
		display: block;
		justify-content: space-between;
		font-size: 1.8rem;
		@media (max-width: $r_tab) {
			font-size: 1.5rem;
		}
		@media (max-width: $r_mob_500) {
			font-size: 2.2rem;			
		}
		@media (max-width: $r_mob_400) {
			font-size: 1.9rem;
		}
	}
	&__info {
		display: flex;
		justify-content: space-between;
		@media (max-width: $r_mob_500) {
			display: block;
			text-align: center;
		}
	}
	&_logo {
		display: none;
		@media (max-width: $r_desk) {
			display: block;
			height: 4.8rem;
			width: 18rem;
			margin: 0 auto 3rem;
		}
	}
		&__list {
		list-style-type: none;
		padding-left: 0;
		margin: 0;
		&_mob {
			display: none;
			@media (max-width: $r_tab) {
				display: flex;
				justify-content: space-between;
				margin-bottom: 2rem;
			}
		}
		&_desk {
			@media (max-width: $r_tab) {
				display: none;
			}
		}
		@media (max-width: $r_mob_500) {
			margin-bottom: 4rem;
		}
		@media (max-width: $r_mob_400) {
			justify-content: space-between;
		}
	}
	&__item {
		margin-bottom: 2.6rem;
		&:last-child {
			margin-bottom: 0;
		}
		@media (max-width: $r_mob_500) {
			margin-bottom: 1.5rem;
		}
	}
	&__link {
		color: $green;
		text-decoration: none;
		transition: .3s;
		&:hover {
			color: $orange;
		}
		@media (max-width: $r_tab) {
			display: none;
		}
		&_mob {
			@media (max-width: $r_tab) {
				display: flex;
			}
		}
	}
	&__mail {
		color: $green;
		text-decoration: none;
		transition: .3s;
		&:hover {
			color: $orange;
		}
	}
	&__tel {
		font-size: 2.7rem;
		display: block;
		margin-bottom: 3rem;
		@media (max-width: $r_tab) {
			font-size: 2rem;
		}
		@media (max-width: $r_mob_500) {
			margin-bottom: 2rem;
			font-size: 3rem;
		}
	}
	&__text {
		display: flex;
		justify-content: space-between;
		font-size: 1.6rem;
		color: rgba($green, .6);
		margin-top: 4rem;
		@media (max-width: $r_tab) {
			display: block;
			text-align: center;
		}
		@media (max-width: $r_mob_360) {
			font-size: 1.3rem;
		}
	}
	&__author {
		color: rgba($green, .6);
		text-decoration: none;
		transition: .2s;
		&:hover {
			color: rgba($green, 1)
		}
	}
}

.footer-social {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 0;
	margin-top: 3rem;
	margin-bottom: 0;
	@media (max-width: $r_mob_500) {
		justify-content: space-evenly;
	}
	&__link {
		display: block;
		width: 4.6rem;
		height: 4.6rem;
		border: 2px solid $green;
		border-radius: 100%;
		background-repeat: no-repeat;
		background-position: center;
		opacity: .8;
		transition: .3s;
		&:hover {
			opacity: 1;
		}
		
	}
	&__vk {
		background-image: url(../images/vk.svg);
		background-size: 2.3rem;
	}
	&__inst {
		background-image: url(../images/inst.svg);
		background-size: 1.8rem;
	}
	&__fb {
		background-image: url(../images/facebook.svg);
		background-size: 1.8rem;
	}
}

@keyframes shadow {
	0% {
		box-shadow: 0 0 0 0 rgba($green, .5);
	}
	50% {
		box-shadow: 20px 20px 33px 0 rgba($green, .5);
	}
	100% {
		box-shadow: 0 0 0 0 rgba($green, .5);
	}
}

@keyframes tel {
	0% {
		color: $green;
	}
	50% {
		color: $orange;
		transform: scale(1.1);
	}
	100% {
		color: $green;
	}
}

// popup
.cartblock {
	position: relative;

}
.popupcart {
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	align-items: center;
	position: absolute;
	width: 273px;
	top: 3.5rem;
	right: 0;
	display: flex;
	opacity: 0;
	z-index: 1;
	transition: 0.5s;
	@media (max-width: $r_mob_500) {
		display: none;
	}
	&__img {
		position: absolute;
		padding-left: 30px;
		max-width: 60px;
		max-height: 65px;
	}
	&__text {
		position: absolute;
		padding-left: 9rem;
		line-height: 1.3;
	}
	&__link {
		color: #27300f;
      transition: 0.3s;
	}
}
.popup-close {
	width: 15px;
	height: 15px;
	opacity: 0.8;
	background-image: url(../images/close.svg);
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	border: none;
	position: absolute;
	top: 38px;
	right: -15px;
	cursor: pointer;
}
.popupmain{
	&__avocado {
		position: absolute;
		background-repeat: no-repeat;
		background-position: center;
		align-items: center;
		background-color: #ffffff;
		box-shadow: 0px 7px 32px 8px rgba(71,90,67,0.1);
		border-radius: 20px;
		width: 190px;
		height: 175px;
		opacity: 0;
		top: 11rem;
		right: 55rem;
		padding: 0 3rem;
		z-index: 1;
		transition: 0.5s;
		@media (max-width: $r_desk_1350) {
			right: 45rem;
		}
		@media (max-width: $r_desk_1120) {
			display: none;
		}
	}
	&__potato {
		position: absolute;
		background-repeat: no-repeat;
		background-position: center;
		align-items: center;
		background-color: #ffffff;
		box-shadow: 0px 7px 32px 8px rgba(71,90,67,0.1);
		border-radius: 20px;
		width: 190px;
		height: 175px;
		opacity: 0;
		top: 26rem;
		right: -6rem;
		padding: 0 3rem;
		z-index: 1;
		transition: 0.5s;
		@media (max-width: $r_desk_1500) {
			right: 0;
		}
		@media (max-width: $r_desk_1350) {
			top: 22rem;
		}
		@media (max-width: $r_desk_hd) {
			top: 19rem;
		}
		@media (max-width: $r_desk_1120) {
			display: none;
		}
	}
	&__tomato {
		position: absolute;
		background-repeat: no-repeat;
		background-position: center;
		align-items: center;
		background-color: #ffffff;
		box-shadow: 0px 7px 32px 8px rgba(71,90,67,0.1);
		border-radius: 20px;
		width: 190px;
		height: 175px;
		opacity: 0;
		top: 70rem;
		right: 33rem;
		padding: 0 3rem;
		z-index: 1;
		transition: 0.5s;
		@media (max-width: $r_desk_1350) {
			top: 60rem;
		}
		@media (max-width: $r_desk_hd) {
			top: 50rem;
		}
		@media (max-width: $r_desk_1120) {
			display: none;
		}
	}
	&_title {
		font-family: $font-cormorant;
		font-size: 26px;
		font-weight: 700;
		color: $green;
		margin-bottom: 0;
	}
	&_text {
		opacity: 0.6;
		font-size: 14px;
		line-height: 21px;

	}
	&_price {
		font-size: 16px;
		line-height: 1.2;
		padding-top: 20px;
	}
	&_close {
		width: 15px;
		height: 15px;
		opacity: 0.8;
		position: absolute;
		background-image: url(../images/close.svg);
		background-color: transparent;
		background-size: contain;
		background-repeat: no-repeat;
		border: none;
		top: 1rem;
		right: 1rem;
		cursor: pointer;
		z-index: 2;
	}
}

